.bio {
  width: 90%;

  a {
    color: #3b82f6;
    text-decoration: underline;
  }

  h2 {
    margin-bottom: 1rem;
    line-height: 1.15;
    font-size: 2rem;
    font-weight: bold;
  }

  dt {
    margin-left: 0rem;
    margin-bottom: 0.3rem;
  }
  dd {
    margin-left: 0rem;
    margin-bottom: 1rem;
  }

  ul {
    margin-left: -1.5rem;

    li {
      padding-left: 0.375em;
      margin-top: 0.5em;
      margin-bottom: 0.5em;
    }
  }
}

