.container {
  padding: 2rem;
  width: 800px;
  margin: 0 auto;
}

@media (prefers-color-scheme: dark) {
  .card,
  .footer {
    border-color: #222;
  }
  .code {
    background: #111;
  }
  .logo img {
    filter: invert(1);
  }
}

@media screen and (max-width:600px) {
  .container {
    width: 100%;
  }
}